* {
    box-sizing: border-box;
}
body {
    color: #6e859c;
    font-weight: bold;
    padding: 0;
    margin: 0;
    background: #e8e9e9;
}
.container > * {
  color: #fff;
  text-shadow: 0 2px 0 rgba(110,133,156,0.12);
  padding: 0.85em;
  border: solid 1px rgba(110,133,156,0.15);
}
header {
  background-color: #006363;
}
nav {
  background-color: #fbaea8;
}
main {
  background-color: #aad2ed;  
}
aside {
  background-color: #33CCCC; 
}
footer {
  background-color: #6e859c;
}
